/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

* {
  font-family: "Dancing Script", cursive;
  font-family: "Roboto", sans-serif;
  font-family: "Shrikhand", serif;
}

.likes {
  position: relative;
  width: 25px;
  height: 25px;
}
.likes img {
  position: absolute;
  width: 25px;
  height: 25px;
  object-fit: contain;
  justify-content: center;
  align-items: center;
  border-radius: 0;
}
.likes .no-like {
  opacity: 1;
  transition: 0.5s;
}
.likes .liked {
  opacity: 0;
  transition: 0.5s;
}
.likes:hover .no-like {
  opacity: 0;
  transition: 0.5s;
}
.likes:hover .liked {
  opacity: 1;
  transition: 0.5s;
}

main {
  margin: auto;
}

.header {
  display: flex;
  justify-content: center;
  background: var(--White);
  z-index: 10;
  box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.15);
  position: relative;
}
.header__logo {
  font-family: "Shrikhand", serif;
  margin: 14px 89px 13px 89px;
}

.box-liste {
  background: var(--grey);
  color: white;
  width: 100%;
}
.box-liste__logo {
  margin: 22px 25px 22px 25px;
  font-family: "Shrikhand", serif;
  font-size: 18px;
  font-weight: 400;
  gap: 16px;
  padding-top: 20px;
}
.box-liste__liste a {
  color: White;
  text-decoration: none;
  font-family: "Roboto";
  font-size: 16px;
  font-weight: 500;
  margin: 22px 25px 22px 25px;
}

img {
  width: 100%;
}

.search-field {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50px;
  gap: 17px;
  background: var(--grey-2);
  display: flex;
  /* width: 150%; */
  gap: 5px;
  align-items: baseline;
}
.search-field__icon {
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--grey);
}
.search-field__input input {
  margin: 20px;
  border: none;
  background: var(--grey-2);
}
.search-field__input::placeholder {
  color: var(--grey);
  font-size: 16px;
  font-family: "Roboto", sans-serif;
}

.info-restaurant {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: var(--background);
  font-family: "Roboto", sans-serif;
  padding-bottom: 25px;
}
.info-restaurant__heading {
  margin: 0;
  padding: 58px 58px 0px 42px;
  text-align: center;
  font-family: "Roboto", sans-serif;
  font-size: 24px;
  font-weight: 700;
}
.info-restaurant__description {
  text-align: center;
  padding: 26px 34px;
  margin: 0;
  font-family: "Roboto", sans-serif;
  font-size: 18px;
  font-weight: 300;
}
.info-restaurant__btn {
  display: flex;
  flex-direction: row;
  border: none;
  background: var(--Button-Gradient, linear-gradient(193deg, #9356DC -11.44%, #FF79DA 123.93%));
  color: var(--White);
  box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.25);
  border-radius: 25px;
  padding: 13px 19px 13px 19px;
  font-family: "Roboto", sans-serif;
  font-size: 15px;
  font-weight: 500;
  transition-duration: 200ms;
}
.info-restaurant__btn:hover {
  background-color: #b195b8;
  background-blend-mode: lighten;
  box-shadow: 4px 4px 6px rgb(143, 76, 163);
  transform: scale(1.1);
}

.fonctionnement {
  font-family: "Roboto", sans-serif;
  font-size: 24px;
  font-weight: 700;
  padding: 54px 80px 0px 20px;
}
.fonctionnement__btn {
  display: flex;
  flex-direction: column;
  margin: 20px 20px 0px 33px;
  padding-bottom: 68px;
  gap: 25px;
}
.fonctionnement__btn i {
  padding: 20px;
  width: 13px;
}
.fonctionnement__btn button {
  position: relative;
  border-radius: 20px;
  border: none;
  background: var(--Background, #F6F6F6);
  box-shadow: 0px 4px 15px 0px rgba(0, 0, 0, 0.15);
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  font-weight: 500;
}
.fonctionnement__btn span {
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Roboto";
  color: white;
  background: #9356DC;
  height: 16px;
  border-radius: 60%;
  padding: 4px;
  position: absolute;
  width: 16px;
  left: -12px;
  top: calc(50% - 12px);
}
.fonctionnement__btn .fa-mobile-alt {
  color: var(--Grey-Tint4);
  width: 13px;
  height: 19px;
}
.fonctionnement__btn .fa-list {
  color: var(--Grey-Tint4);
  width: 13px;
  height: 19px;
}
.fonctionnement__btn .fa-store {
  color: var(--Primary, #9356DC);
  width: 13px;
  height: 19px;
}

.title-header {
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding: 14px 89px 13px 17px;
  /* height: 63px; */
  background: var(--White);
  box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.15);
  margin: 0px;
  font-family: "Shrikhand", serif;
}
.title-header i {
  padding-right: 42px;
}

.img_palette img {
  width: 100%;
  aspect-ratio: 375/275;
}

.menu {
  display: flex;
  flex-direction: column;
  gap: 40px;
  background: var(--background);
  border-radius: 20px 20px 0px 0px;
  margin-top: -20px;
  z-index: 10;
  position: relative;
  padding-inline: 17px;
}
.menu__title {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 32px;
}
.menu__title-menu {
  font-family: "Shrikhand", serif;
  font-size: 28px;
  font-weight: 400;
}

.title_menu_3 {
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  font-weight: 300;
}

.cards-menu {
  display: flex;
  background: var(--White);
  box-shadow: 0px 4.011px 15.043px 0px rgba(0, 0, 0, 0.1);
  border-radius: 15px;
  padding: 15px;
  justify-content: space-between;
  align-items: end;
}
.cards-menu__title {
  display: flex;
  flex-direction: column;
  margin-bottom: 5px;
  font-family: "Roboto", sans-serif;
  font-size: 18px;
  font-weight: 500;
}

/*# sourceMappingURL=main.css.map */
