/****** Media queries ***********/
/* Medium devices (tablets, less/equal than 1024px) */

/* Small devices (phones, less than 768px) */
@media screen and (min-width: 926px) {
    .likes {
        padding-left: 20px;
    }

    .menu-card {
        min-width: 634px;
    }

    .button {
        width: 335px;
        height: 72.40px;
    }

    .restaurant_palette {
        display: flex;
        flex-direction: column;
        position: relative;
        margin: auto;
        max-width: 1440px;
        height: 36rem;
    }

    .restaurant_palette--img {
        display: flex;
        margin-left: auto;
        margin-right: auto;
        margin-top: 0;
        height: 70%;
        object-position: 85% 75%;
        object-fit: cover;
    }


    .fonctionnement {
        display: flex;
        flex-direction: column;

        .fonctionnement__title {
            margin-left: 860px;
            margin:auto;
        }
    }

    .fonctionnement__btn {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
    }
    
    
    .restaurants {
        display: flex;
        flex-direction: column;
        padding: 1.5rem 0 2rem 0;

        .restaurant-title {
            margin-left: 860px;
            margin:auto;
        }

        .restaurants-cards {
            display: flex;
            flex-direction: row;
            gap: 90px;
            justify-content: center;
            align-items: center;
    
            a img {
                aspect-ratio: 490/251;
                object-fit: cover;
                object-position: center;
                border-radius: 15px 15px 0 0;
            }
        }
    }

    .resto-cards {
        width: 490px;
        margin-top: 2rem;
    }

    .box-liste {
        display: flex;
        max-width: 1440px;
        height: 114px;
        margin: auto;
        justify-content: end;
        align-items:last baseline;
    }
}

.menu-card:hover >div:first-child {
    min-width: 85%;
}
.menu-card:hover >div:last-child {
    visibility: visible;
    display: flex;
    width: 15%;
}

