:root {
    --grey: #353535;
    --grey-2: #EAEAEA;
    --White: #FFF;
    --background: #F6F6F6;
    --Primary: #9356DC;
    --Grey-Tint4: #7E7E7E;
    --Green: #99E2D0;
    --Green-font: #008766;
}

body {
    margin: auto;
}

/* BEGIN FONCTION */

.fonctionnement {
    font-family: 'Roboto',sans-serif;
    font-size: 24px;
    font-weight: 700;
    padding: 54px 80px 0px 20px;
}

.btn-fonctionnement {
    display: flex;
    flex-direction: column;
    margin: 20px 20px 0px 33px;
    padding-bottom: 68px;
    gap: 25px;
}

.btn-fonctionnement i {
    padding: 20px;
    width: 13px;
}

.btn-fonctionnement button {
    position: relative;
    border-radius: 20px;
    border: none;
    background: var(--Background, #F6F6F6);
    box-shadow: 0px 4px 15px 0px rgba(0, 0, 0, 0.15);
    font-family: 'Roboto',sans-serif;
    font-size: 16px;
    font-weight: 500;
}

.btn-fonctionnement span {
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Roboto';
    color: white;
    background: #9356DC;
    height: 16px;
    border-radius: 60%;
    padding: 4px;
    position: absolute;
    width: 16px;
    left: -12px;
    top: calc(50% - 12px);
}

.btn-fonctionnement .fa-mobile-alt {
    color: var(--Grey-Tint4);
    width: 13px;
    height: 19px;
}

.btn-fonctionnement .fa-list {
    color: var(--Grey-Tint4);
    width: 13px;
    height: 19px;
}

.btn-fonctionnement .fa-store {
    color: var(--Primary, #9356DC);
    width: 13px;
    height: 19px;
}

/* BEGIN RESTAURANT */

.restaurants {
    background: var(--background, #F6F6F6);
    gap: 18px;
}

.title-restaurant {
    font-family: 'Roboto',sans-serif;
    font-size: 24px;
    font-weight: 700;
    padding: 54px 80px 0px 20px;
}

.restaurants-cards {
    margin: 0px 18px 0px 17px;
    
}

.resto-cards img{
    aspect-ratio: 340/203;
    object-fit: cover;
    object-position: center;
    border-radius: 15px 15px 0px 0px;
   
}

.New-title {
    font-family: 'Roboto', sans-serif;
    padding: 9px;
    background: var(--Green);
    color: var(--Green-font);
    position: absolute;
    top: 13px;
    right: 12px;
}

.resto-cards {
    position: relative;
    background: #FFF;
    border-radius: 15px 15px 15px 15px;
    margin: 14px;
}

.card-txt {
    display: flex;
    padding-left: 13px;
    justify-content: space-between;
}

.card-txt {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    font-size: 22px;
    margin-right: 25px;
}

.card-title {
    font-family: 'Roboto',sans-serif;
    font-size: 18px;
    font-weight: 700;
    margin: 16px 63px 5px 16px;
}

.card-subtitle {
    font-family: 'Roboto',sans-serif;
    font-size: 17px;
    font-weight: 300;
    margin: 5px 80px 12px 13px;
    padding-bottom: 12px;
}
