:root {
    --grey: #353535;
    --grey-2: #EAEAEA;
    --White: #FFF;
    --background: #F6F6F6;
    --Primary: #9356DC;
    --Grey-Tint4: #7E7E7E;
    --Green: #99E2D0;
    --Green-font: #008766;
}

body {
    margin: auto;
}

/* BEGIN FONCTION */

/* BEGIN RESTAURANT */

.restaurants {
    background: var(--background, #F6F6F6);
    gap: 18px;
}

.restaurant-title {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    font-family: 'Roboto',sans-serif;
    font-size: 24px;
    font-weight: 700;
    padding: 54px 80px 0px 20px;
}

.restaurants-cards {
    margin: 0px 18px 0px 17px;
    
}

.resto-cards img{
    aspect-ratio: 340/203;
    object-fit: cover;
    object-position: center;
    border-radius: 15px 15px 0px 0px;
   
}

.New-title {
    font-family: 'Roboto', sans-serif;
    padding: 9px;
    background: var(--Green);
    color: var(--Green-font);
    position: absolute;
    top: 13px;
    right: 12px;
}

.resto-cards {
    position: relative;
    background: #FFF;
    border-radius: 15px 15px 15px 15px;
    margin: 14px;
}

.card-txt {
    display: flex;
    padding-left: 13px;
    justify-content: space-between;
}

.card-txt {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    font-size: 22px;
    margin-right: 25px;
}

.card-title {
    font-family: 'Roboto',sans-serif;
    font-size: 18px;
    font-weight: 700;
    margin: 16px 63px 5px 16px;
}

.card-subtitle {
    font-family: 'Roboto',sans-serif;
    font-size: 17px;
    font-weight: 300;
    margin: 5px 80px 12px 13px;
    padding-bottom: 12px;
}
