@import "./../abstracts/variables";
$grey: #353535;
$white:#FFF;

//**** FOOTER *****//

.box-liste {
    background:$grey;
    color:$white;
    width: 100%;
    padding: 20px;

    &__logo {
        font-family: 'Shrikhand', serif;
        font-size: 18px;
        font-weight: 400;
        padding-bottom: 20px;
    }

    &__liste{
        margin-block: 7px;
    }

    &__liste a {
        color:$white;
        text-decoration: none;
        font-family: 'Roboto';
        font-size: 16px;
        font-weight: 500;
    }
    
}

@media screen and (min-width: 926px) {

    .box-liste {
        flex-direction: row-reverse;
        gap: 30px;
        display: flex;
        max-width: 1440px;
        height: 114px;
        margin: auto;
        justify-content: end;
        align-items:last baseline;
    }
    
    .box-liste > div {
        display: flex;
        gap: 7px;
    }
}



