@import "./../abstracts/variables";
$grey: #353535;
$white:#FFF;

//**** FOOTER *****//

.box-liste {
    background:$grey;
    color:$white;
    width: 100%;

    &__logo {
        padding: 22px 25px 22px 25px;
        font-family: 'Shrikhand', serif;
        font-size: 18px;
        font-weight: 400;
        gap: 16px;
        padding-top: 20px;
    }

    &__liste a {
        color:$white;
        text-decoration: none;
        font-family: 'Roboto';
        font-size: 16px;
        font-weight: 500;
        gap: 7px;
        margin: 25px 0 25px 25px;
    }
    
}

@media screen and (min-width: 926px) {

    .box-liste {
        flex-direction: row-reverse;
        gap: 30px;
    }
    
    .box-liste > div {
        display: flex;
        gap: 7px;
    }
}



