//**** header ****//

.header {
    display: flex;
    justify-content: center;
    background: var(--White);
    z-index: 10;
    box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.15);
    position: relative;

    &__logo {
        font-family: 'Shrikhand', serif;
        margin: 14px 89px 13px 89px;
    }
}