/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

* {
    font-family: 'Dancing Script', cursive;
    font-family: 'Roboto', sans-serif;
    font-family: 'Shrikhand', serif;
}

:root {
    --grey: #353535;
    --grey-2: #EAEAEA;
    --White: #FFF;
    --background: #F6F6F6;
    --Primary: #9356DC;
    --Grey-Tint4: #7E7E7E;
}

.title-header {
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding: 14px 89px 13px 17px;
    /* height: 63px; */
    background: var(--White); 
    box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.15); 
    margin: 0px;
    font-family: 'Shrikhand', serif;
}

.title-header i{
    padding-right: 42px;
    /* width: 30px;
    height: 30px; */
}

.img_palette img{
    width: 100%;
    aspect-ratio: 375/275;
}

.title {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 32px;
}

.likes {
    position: relative;
    width: 25px;
    height: 25px;
}

.likes img {
    position: absolute;
    width: 25px;
    height: 25px;
    object-fit: contain;
    justify-content: center;
    align-items: center;
    border-radius: 0;
}

.no-like {
    opacity: 1;
    transition: 0.5s;
}

.liked {
    opacity: 0;
    transition: 0.5s;
}

.likes:hover .no-like{
    opacity: 0;
    transition: 0.5s;
}

.likes:hover .liked {
    opacity: 1;
    transition: 0.5s;
}

.menu {
    display: flex;
    flex-direction: column;
    gap: 40px;
    background: var(--background);
    border-radius: 20px 20px 0px 0px;
    margin-top: -20px;
    z-index: 10;
    position: relative;
    padding-inline: 17px;
}

.title_menu_2 {
    font-family: 'Shrikhand', serif;
    font-size: 28px;
    font-weight: 400;
}

.title_menu_2 i {
    margin-left: 30px;
}

.title_menu_3 {
    /* width: 275px;
    height: 27px; */
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    font-weight: 300;
}

.cards_menu {
    display: flex;
    background: var(--White);
    box-shadow: 0px 4.011px 15.043px 0px rgba(0, 0, 0, 0.10);
    border-radius: 15px;
    padding: 15px;
    justify-content: space-between;
    align-items: end;
}

.cards_menu h4 {
    display: flex;
    flex-direction: column;
    margin-bottom: 5px;
    font-family: 'Roboto', sans-serif;
    font-size: 18px;
    font-weight: 500;
}

.cards_menu p {
    display: flex;
    font-family: 'Roboto';
    font-size: 15px;
    font-weight: 500;
}

.cards_menu span {
    display: flex;
    font-family: 'Roboto';
    font-size: 15px;
    font-weight: 700;
    padding-left: 40px;
}

.btn-commande {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin: 0px 82px 82px;
    border: none;
    background: var(--Button-Gradient, linear-gradient(193deg, #9356DC -11.44%, #FF79DA 123.93%));
    color: var(--White);
    box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.25);
    border-radius: 25px;
    padding: 13px 19px 13px 19px;
    font-family: 'Roboto',sans-serif;
    font-size: 15px;
    font-weight: 500;
}

.box-liste {
    background: var(--grey);
    color: white;
}

.box-liste .logo {
   padding:22px;
}

.box-liste h2 {
    font-family: 'Shrikhand', serif;
    font-size: 18px;
    font-weight: 400;
    gap: 16px;
}

.liste a{
    color: White;
    text-decoration: none;
    font-family: 'Roboto';
    font-size: 16px;
    font-weight: 500;
    margin: 22px 25px 22px 25px;
}


