* {
    /* font-family: 'Dancing Script', cursive; */
    font-family: 'Roboto', sans-serif;
    /* font-family: 'Shrikhand', serif; */
}

:root {
    --grey: #353535;
    --grey-2: #EAEAEA;
    --White: #FFF;
    --background: #F6F6F6;
}

body {
    margin: 0;
}

.title-header {
    display: flex;
    justify-content: center;
    padding: 14px 89px 13px 89px;
    height: 63px;
    background: var(--White);
    box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.15);
}

.local-recherche {
    display: flex;
    justify-content: center;
    height: 50px;
    background: var(--grey-2);
    margin: 5px 0px 0px 0px;
}

.local-recherche input {
    border: none;
    background: var(--grey-2);
}

.local-recherche ::placeholder {
    color: var(--grey);
    font-size: 16px;
}

.content-reservation {
    background: var(--background);
    font-family: 'Roboto',sans-serif;
}

.reservation h2 {
    width: 275px;
    height: 68px;
}

.btn-reservation button{
    display: flex;
    flex-direction: row;
    border: none;
    background: var(--Button-Gradient, linear-gradient(193deg, #9356DC -11.44%, #FF79DA 123.93%));
    color: var(--White);
    box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.25);
    border-radius: 25px;
    padding: 13px 19px 13px 19px;
}