.likes {
    position: relative;
    width: 25px;
    height: 25px;
    img {
        position: absolute;
        width: 25px;
        height: 25px;
        object-fit: contain !important;
        justify-content: center;
        align-items: center !important;
        border-radius: 0;
    }
    .no-like {
        opacity: 1;
        transition: 0.5s;
    }
    
    .liked {
        opacity: 0;
        transition: 0.5s;
    }
    &:hover {
        .no-like{
            opacity: 0;
            transition: 0.5s;
        }
        
        .liked {
            opacity: 1;
            transition: 0.5s;
        }
    }
}

@media screen and (min-width: 926px) {

    .likes {
        padding-left: 20px;
    }
}





 



