@import "./../abstracts/variables";
$grey: #353535;
$grey-2: #EAEAEA;

//**** Search ****//

.search-field {
    display: flex;
    justify-content: center;
    background: $grey-2;
    align-items: baseline;

    &__icon {
        display: flex;
        align-items:center;
        padding-left: 35px;
        color: $grey; 
    }
    &__input input {
        margin: 20px;
        padding-left: 0;
        border: none;
        background: $grey-2;
        font-family: 'Roboto', sans-serif;
    }
    &__input::placeholder {
        color: $grey;
        font-size: 16px;
        font-weight: 500;
        font-family: 'Roboto', sans-serif;
    }

}