@import "./../abstracts/variables";

$Primary: #9356DC;
$grey: #353535;
$grey-2: #EAEAEA;
$black:#000000;
$White: #FFF;
$background: #F6F6F6;
$Grey-Tint4: #7E7E7E;
$Green: #99E2D0;
$Green-font: #008766;

//**** BEGIN MAIN  ****//

body {
    margin: auto;
}

//**** img card restaurant ****//
img {
    width: 100%;
}

//**** BEGIN INFO RESTAURANT ****//

.info-restaurant {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: $background;
    font-family: 'Roboto',sans-serif;
    padding-bottom: 25px;

    &__heading {
        margin: 0;
        padding: 40px 40px 0 42px;
        text-align: center;
        font-family: 'Roboto',sans-serif;
        font-size: 24px;
        font-weight: 700;
    }
    &__description {
        text-align: center;
        padding: 26px 34px;
        margin: 0;
        font-family: 'Roboto',sans-serif;
        font-size: 18px;
        font-weight: 300;
    }
}

//**** BEGIN FONCTION ****//

.fonctionnement {

    .button {
        display: flex;
        flex-direction: row;
        align-items: center;
    }

    &__title {
        color: $black;
        font-family: 'Roboto',sans-serif;
        font-size: 24px;
        font-weight: 700;
        padding: 54px 80px 0 20px;
    }

    &__btn {
        display: flex;
        flex-direction: column;
        margin: 20px 20px 0 33px;
        padding-bottom: 68px;
        gap: 35px;
    }
    &__btn i {
        padding: 25px;
        width: 13px;
    }
    &__btn button {
        position: relative;
        border-radius: 20px;
        border: none;
        background: $background;
        box-shadow: 0px 4px 15px 0 rgba(0, 0, 0, 0.15);
        font-family: 'Roboto',sans-serif;
        font-size: 16px;
        font-weight: 500;
    }
    &__btn span {
        display: flex;
        justify-content: center;
        align-items: center;
        font-family: 'Roboto';
        color: $White;
        background: $Primary;
        height: 16px;
        border-radius: 60%;
        padding: 4px;
        position: absolute;
        width: 16px;
        left: -12px;
        top: calc(50% - 12px);
    }
    &__btn .fa-mobile-alt {
        color: $Grey-Tint4;
        width: 13px;
        height: 19px;
    }
    &__btn .fa-list {
        color: $Grey-Tint4;
        width: 13px;
        height: 19px;
    }
    &__btn .fa-store {
        color: $Primary;
        width: 13px;
        height: 19px;
    }
}

//**** BEGIN RESTAURANT ****//

.restaurants {
    background: $background;
    gap: 18px;

    .restaurant-title {
        display: flex;
        flex-direction: row;
        margin-left: 15px;
        font-family: 'Roboto',sans-serif;
        color: $black;
        font-size: 24px;
        font-weight: 700;
        padding: 54px 80px 0 20px;
    }

    .restaurants-cards {
        display: flex;
        flex-direction: column;
        margin: 0 18px 0 17px;

        a img {
            aspect-ratio: 340/203;
            object-fit: cover;
            object-position: center;
            border-radius: 15px 15px 0 0;
        }
    }
}

.New-title {
    font-family: 'Roboto', sans-serif;
    padding: 9px;
    background: $Green;
    color: $Green-font;
    position: absolute;
    top: 13px;
    right: 12px;
}

.resto-cards {
    position: relative;
    background: $White;
    border-radius: 15px 15px 15px 15px;
    margin: 14px;
}

.card-txt {
    display: flex;
    padding-left: 13px;
    justify-content: space-between;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    font-size: 22px;
    margin-right: 25px;
}

.card-title {
    display: flex;
    text-align: center;
    color: $black;
    font-family: 'Roboto',sans-serif;
    font-size: 18px;
    font-weight: 700;
    margin: 16px 63px 5px 16px;
}

.card-subtitle {
    display: flex;
    text-align: center;
    color: $black;
    font-family: 'Roboto',sans-serif;
    font-size: 17px;
    font-weight: 300;
    margin: 5px 80px 12px 16px;
    padding-bottom: 12px;
}


