//**** BEGIN HEADER ****//

.title-header {
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding: 14px 89px 13px 17px;
    /* height: 63px; */
    background: var(--White); 
    box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.15); 
    margin: 0px;
    font-family: 'Shrikhand', serif;

    & i {
        padding-right: 42px;
    }
}

//**** BEGIN RESTAURANT ****//

.img_palette img{
    width: 100%;
    aspect-ratio: 375/275;
}

.menu {
    display: flex;
    flex-direction: column;
    gap: 40px;
    background: var(--background);
    border-radius: 20px 20px 0px 0px;
    margin-top: -20px;
    z-index: 10;
    position: relative;
    padding-inline: 17px;

    &__title {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding-top: 32px;
    }
    &__title-menu {
        font-family: 'Shrikhand', serif;
        font-size: 28px;
        font-weight: 400;
    }
}

.title_menu_3 {
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    font-weight: 300;
}

.cards-menu {
    display: flex;
    background: var(--White);
    box-shadow: 0px 4.011px 15.043px 0px rgba(0, 0, 0, 0.10);
    border-radius: 15px;
    padding: 15px;
    justify-content: space-between;
    align-items: end;

    &__title {
        display: flex;
        flex-direction: column;
        margin-bottom: 5px;
        font-family: 'Roboto', sans-serif;
        font-size: 18px;
        font-weight: 500;
    }
    & p {
        display: flex;
        font-family: 'Roboto';
        font-size: 15px;
        font-weight: 500;
    }
    & span {
        display: flex;
        font-family: 'Roboto';
        font-size: 15px;
        font-weight: 700;
        padding-left: 40px;
    }
}

.btn-commande {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin: 0px 82px 82px;
    border: none;
    background: var(--Button-Gradient, linear-gradient(193deg, #9356DC -11.44%, #FF79DA 123.93%));
    color: var(--White);
    box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.25);
    border-radius: 25px;
    padding: 13px 19px 13px 19px;
    font-family: 'Roboto',sans-serif;
    font-size: 15px;
    font-weight: 500;
}