@import "./../abstracts/variables";
$white:#FFF;
$black:#000000;
$background: #F6F6F6;
$Green: #99E2D0;

//**** BEGIN HEADER ****//

.title-header {
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding: 14px 89px 13px 17px;
    background: $white; 
    margin: 0;
    font-family: 'Shrikhand', serif;
    font-size: 30px;

    & a i {
        padding-right: 42px;
        width: 30px;
        height: 30px;
    }
}

//**** BEGIN RESTAURANT ****//

.restaurant_palette {
    width: 100%;
    aspect-ratio: 375/275;
}

.menu {
    display: flex;
    flex-direction: column;
    
    max-width: 1055px;
    margin: auto;
    gap: 40px;
    background: $background;
    border-radius: 20px 20px 0 0;
    margin-top: -20px;
    z-index: 10;
    position: relative;
    padding-inline: 17px;

    &__title {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding-top: 32px;
    }
    &__title-menu {
        font-family: 'Shrikhand', serif;
        font-size: 28px;
        font-weight: 400;
    }
}

.title_menu_3 {
    color: $black;
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    font-weight: 300;
    border-bottom: $Green 3px solid;
    padding-bottom: 5px;
    width: 40px;
}

.cards-menu {
    display: flex;
    overflow: hidden;
    background-color: $white;
    box-shadow: 0 4.011px 15.043px 0 rgba(0, 0, 0, 0.10);
    border-radius: 15px;
    padding: 15px;
    justify-content: space-between;
    align-items: end;
    transition-duration: 0.1s;

    cursor: pointer;
    box-sizing: border-box;


    &__title {
        display: flex;
        flex-direction: column;
        margin-bottom: 5px;
        color: $black;
        font-family: 'Roboto', sans-serif;
        font-size: 17px;
        font-weight: 500;
    }
    & p {
        display: flex;
        color: $black;
        font-family: 'Roboto', sans-serif;
        font-size: 15px;
        font-weight: 300;
    }
    & span {
        display: flex;
        color: $black;
        font-family: 'Roboto', sans-serif;
        font-size: 15px;
        font-weight: 700;
        padding-left: 40px;
    }
    &__check {
        display: flex;
        visibility: hidden;
        width: 0;
        color: white;
        background-color: #99e2d0 ;
        transition: all 0.5s;
        justify-content: center;
        align-items: center;
        font-size: 1.5rem;
    }

}

.menu-card {
    display: flex;
    overflow: hidden;
    background-color: white;
    margin: 0;
    margin-bottom: 1rem;
    width: 100%;
    border-radius: 1.25rem;
    box-shadow: 0 0 15px #0000002e;
    transition-duration: 0.1s;
    cursor: pointer;
    box-sizing: border-box;

    &__infos {
        background-color: white;
        width: 100%;
        padding: 0.8rem;

        &-subtitle {
            margin:0;
            flex-basis: 100%;
            margin-bottom: 5px;
            text-overflow: ellipsis;
            white-space: nowrap;
            overflow: hidden;
            display: block;
            color: $black;
            font-family: 'Roboto', sans-serif;
            font-size: 17px;
            font-weight: 500;

        }
        &-description {
            margin: 0;
            display: flex;
            justify-content: space-between; 
            align-items: baseline;
            font-family: 'Roboto', sans-serif;
            font-size: 15px;
            font-weight: 300;

            &--paragraph {
                margin: 0;
                font-family: 'Roboto', sans-serif;
                font-weight: 300;
                font-size: 0.9rem;
                color: #3b3b3b;
                overflow: hidden;
                text-overflow: ellipsis;
                white-space: nowrap;
                display: block;
            }
        }
        & span {
            display: flex;
            color: $black;
            font-family: 'Roboto', sans-serif;
            font-size: 15px;
            font-weight: 700;
            padding-left: 40px;
        }
    }
    &__checking {
        display: flex;
        visibility: hidden;
        width: 0;
        color: white;
        background-color: #99e2d0;
        transition: all 0.5s;
        justify-content: center;
        align-items: center;
        font-size: 1.5rem;
    }
}